Datasets/RAWG Dataset/rawg-games-dataset.csv
Datasets/RAWG Dataset/rawg-games-dataset.parquet
Datasets/RAWG Dataset/jsonl/rawg_data.jsonl
Datasets/Steam Dataset/games.csv
Datasets/Steam Dataset/games.json
